<!DOCTYPE HTML>
<html = "pt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Cadastro de Cursos - Index</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
        
    <body id="bod">
        <header>
            <h1 font-color="red"> Página Não Encontrada</h1>
        </header> 
        
        <section>
            <p>
                <a href="/"> Página Inicial</a>
            </p>
        </section>

        <footer id="rodape1">
            <hr>
            <p center> Copyright & Copy 2018 - By Alexandre </p>
            <a href="https://www.Fiap.com.br" target="_blank">Fiap</a> |
            <a href="https://www.linkedin.com/"target="_blank">Linkedin</a></p>
        </footer>
    
    </body>
</html> 