<!DOCTYPE HTML>
    <html = "pt">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title>Cadastro de Cursos - Index</title>
            <link rel='stylesheet' href='/stylesheets/style.css'>
        </head>
        
        <body id="bod">
    
            <header id="topo">
                <h2>Sistema para Cadastro de Cursos</h2>
            </header><hr>
            
            <p id="menu">Login</p><hr>
            
            <section id="meio">
                <form action="/login" method="POST">
                
                    <input type="text"  style="height: 20px" name="usuario[nome]" placeholder="Nome">
                    <br><br>
                    
                    <input type="password" style="height: 20px" name="usuario[senha]" placeholder="Senha">
                    <br><br>
                    
                    <input type='submit' value='Enviar' style='width: 100px'>
                   
                
                </form>
            </section>
            
            <footer id="rodape">
                <hr>
                <p center> Copyright & Copy 2018 - By Alexandre </p>
                    <a href="https://www.Fiap.com.br" target="_blank">Fiap</a> |
                    <a href="https://www.linkedin.com/"target="_blank">Linkedin</a>
                </p>
            </footer>
    
        </body>
    </html> 