<!DOCTYPE HTML>
<html = "pt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Cadastro de Cursos - Menu</title>
            <link rel='stylesheet' href='style.css'/>
    </head>
    <body id="bod">

		<header id="topo">
			<h2>Sistema para Cadastro de Cursos</h2>
		</header><hr>
        
		<nav id="menu1">
            <h5>
			<a href="/cadUsuario"> Cadastro de Usuários </a> |
			<a href="/cadCurso"> Cadastro de Curso </a> |
			<a href="/listaCursos"> Lista de Cursos </a> |
            <a href="/views/home/index"> Logout </a>
            
            
            </h5>    
        </nav>
        
		<hr>
		<footer id="rodape">
			<hr>
			<p center> Copyright & Copy 2018 - By Alexandre </p>
			<a href="https://www.Fiap.com.br" target="_blank">Fiap</a> |
			<a href="https://www.linkedin.com/"target="_blank">Linkedin</a>
			</p>
		</footer>

    </body>
</html> 
